build-[Dd]oxygen
build-*-[Rr]elease
build-*-[Dd]ebug
build-*-[Rr]elease-[Ss]tatic
build-*-[Dd]ebug-[Ss]tatic
*~
*.bak
*.exe
*.dll
*.lib
*.obj
*.a
*.o
*.pro.user
*.pro.user.*
*.qm
*.rpm
*.deb
*.zip
*.tgz
*.gz
*.bz2
*.out
*.log
*.tmp
.DS_Store
